@model IEnumerable<MvcMacorattiLanchesMac.Models.Lanche>

<div>
    <h2>Todos os Lanches</h2>
</div>

<div class="container">
    <div class="row">
       
        @foreach(var lanche in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg4">
                <p> <img src="@lanche.ImagemThumbUrl" class="img-fluid" /> </p>
                <h3>@lanche.Nome</h3>
                <h4>Preço: @lanche.Preco.ToString("c")</h4>
                <p>@lanche.DescricaoCurta</p>
            </div>
        }

    </div>

</div>
