<div id="carouselLanches" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init>

    <div class="carousel-indicators">
        <button type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1">
        </button>

        <button type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide-to="1"
                aria-label="Slide 2">
        </button>

        <button type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide-to="2"
                aria-label="Slide 3">
        </button>
    </div>


    <div class="carousel-inner">
 
        <div class="carousel-item active">

            <img src="img/carousel11.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Combo Mac Lanche!</h5>
            </div>

        </div>


        <div class="carousel-item">

            <img src="img/carousel12.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Mac Lanche + Suco!</h5>
            </div>

        </div>


        <div class="carousel-item">

            <img src="img/carousel13.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Mac Salada!</h5>
            </div>

        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselLanches" data-mdb-slide="prev">

        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>

    </button>

    <button class="carousel-control-next" type="button" data-mdb-target="#carouselLanches" data-mdb-slide="next">

        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>

    </button>
</div>
