<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4> &copy; 2021 - LanchesMac</h4>
                    <p class="text-justify">
                        Aqui você encontra aquele lanche gostoso que da água na boca.
                        Aquela sobremesa saborosa e para acompanhar a sua bebida preferida.
                        E se você é vegetariano também vai encontrar o lanche, sobremesa e bebida do seu gosto.
                    </p>
                </div>

                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>Tem alguma dúvida ?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1"> Av. Bueno de Andrade, 56 Setor-2 Quadra-7</li>
                        <li class="py-1"> +55- 999 9123 502</li>
                        <li class="py-1"> <a href="lanchesmac@hotmail.com" style="color: yellow">lanchesmac@hotmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>
