@using MvcMacorattiLanchesMac.ViewModels;
@model HomeViewModel

<partial name="_Carousel" />

<h2>Lanches Preferidos: </h2>

<div class="row">
    @foreach (var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche" />
    }
</div>